<h1 align="center">All Alpha Bloggers</h1>

<% @users.each do |user| %>
  <div class="row margin-bottom">
    <div class="media col-md-4 offset-md-4 border border-light pad">
      <%= link_to gravatar_for(user, size: 25, to_class: "mr-3"), user_path(user) %>
      <div class="media-body">
        <h5 class="mt-0"><%= link_to user.username, user_path(user) %></h5>
        <%= pluralize(user.articles.count, "article") if user.articles %>
      </div>
    </div>
  </div>
<% end %>